.app{

  --bg: #f7f7f7;
  --gray1: #1c1c1c;
  --gray2: #3C3C3C;
  --gray3: #494949;
  --gray4: #c7c7c7;
  --gray5: #fff;
  --gradient1: rgb(151, 218, 251);
  --gradient2: rgb(109, 131, 255);
  
  .blue {
    background: --var(--gradient1);
    background: linear-gradient(-190deg, var(--gradient1) 0%, var(--gradient2) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  a:hover{
    text-decoration: underline;
    text-decoration-color: var(--gradient2);
  }

  background-color: var(--bg);
  color: var(--gray1);
  font-size: 12px;
  font-weight: 200;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;


  .resume{
    display: block;
    margin: 2% auto;
    background-color: var(--gray5);
    width: 21cm;
    height: 29.7cm; 
    overflow: scroll;

    .body{
      padding: 2% 5%;

      .header{
        width: 100%;
        height: 3cm;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 20px;

        .text{

          h3{
            font-size: 45px;
            font-weight: 600;
          }

          p{
            font-size: 17px;
            font-weight: 300;
            color: var(--gray2);
          }
        }



        .socials{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;

          a{
            width: fit-content;
            display: flex;
            flex-direction: row;

            i{
              font-size: 13px;
              margin-right: 3px;
            }

            p{
              font-size: 11px;
              font-weight: 400;
            }
          }

        }
      }

      .sections{
        margin-top: 10px;

        > *{
          margin-top: 10px;
        }

        h2{
          font-size:18px;
          font-weight: 400;
        }

        .experience{
          display: flex;
          margin-top: 5px;

          .logo{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 13%;

            img{
              //margin-top: 6px;
            }
          }

          .text{
            width: calc(100% - 13%);
            padding-left: 5px;

            .intro{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 3px;

              #title{
                font-size: 14px;
                 a{
                   font-weight: 400;
                 }
              }

              #info{
                font-size: 11px;
                color: var(--gray3);
              }
            }

            .description{
              text-align: justify;
              ul{
                padding-left: 10px;

                li{
                  padding-bottom: 1px;
                }
              }
            }
          }
        }

        .education{
          display: flex;
          flex-direction: column;
          margin-top: 5px;

          .intro{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 3px;

            #title{
              font-size: 14px;
                a{
                  font-weight: 400;
                }
            }

            #info{
              margin-top: 3px;
              font-size: 11px;
              color: var(--gray3);
            }
          }

          .description{
            text-align: justify;
            ul{
              padding-left: 10px;

              li{
                padding-bottom: 1px;
              }
            }
          }
        }

        .projects{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          height: 5cm;

          .project{
            margin-top: 5px;
            width: 30%;
            height: 40%;
            text-align: justify;

            #title{
              font-size: 14px;
              font-weight: 400;
            }
          }


        }
      }

      
    }

  }

}